:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #0f172a;
  background-color: #f6f7fb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { text-decoration: none; color: inherit; }
a:hover { text-decoration: none; }

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background: #f6f7fb;
}

* { box-sizing: border-box; }
